
#
# {{ item.domain }}.conf installed automatically by ChinaNetCloud
#

<VirtualHost {% if item.bind and item.bind != '0.0.0.0' %}{{ item.bind }}{% else %}*{% endif %}:{{ item.port }}>
    ServerName {{ item.domain }}
    ServerAlias {{ item.aliases }}

    DocumentRoot {{ fact_httpd_datadir }}/sites/{{ item.domain | default ('localhost') }}/
    <Directory "{{ fact_httpd_datadir }}/sites/{{ item.domain | default ('localhost') }}/">
        # Not so secure, but allow customization via .htaccess in the webroot
        AllowOverride all
    </Directory>

    ErrorDocument 404 /404.html
    ErrorDocument 500 /5xx.html
    ErrorDocument 502 /5xx.html
    ErrorDocument 503 /5xx.html
    ErrorDocument 504 /5xx.html

    ErrorLog logs/{{ item.domain }}/error_log
    CustomLog logs/{{ item.domain }}/access_log combined

</VirtualHost>

