{% if ansible_distribution == 'Amazon' %}
{% set release = '6' %}
{% else %}
{% set release = '$releasever' %}
{% endif %}
[cnc]
name=cnc
baseurl=http://repo.service.chinanetcloud.com/repo/el{{ release }}/base/$basearch/
gpgcheck=1
gpgkey=http://repo.service.chinanetcloud.com/repo/rpm-gpg/RPM-GPG-KEY-CNC


[cnc_devel]
name=cnc_devel
baseurl=http://repo.service.chinanetcloud.com/repo/el{{ release }}/devel/$basearch/
gpgcheck=1
enabled=0
gpgkey=http://repo.service.chinanetcloud.com/repo/rpm-gpg/RPM-GPG-KEY-CNC
