#
# sudoers file auto created for {{ inventory_hostname }}
#

{% if item.value.cmd_aliases is not defined %}
{# consider we go for "ALL" #}
{{ item.key }} ALL=(ALL) {% if item.value.nopasswd %}NOPASSWD: {% endif %}ALL
{% else %}
{% for alias in item.value.cmd_aliases %}
Cmnd_Alias {{ alias.name }} = {{ alias.value }}
{{ item.key }} ALL=(ALL) {% if item.value.nopasswd %}NOPASSWD: {% endif %}{{ alias.name }}
{% endfor %}
{% endif %}

Defaults:{{ item.key }} {% if item.value.notty %}!{% endif %}requiretty
