################### Main MySQL config area

# Note UPDATE section where you should make changes for each server

# Comments / Notes
## Use loose_ to not die fatally if parma is wrong ?  Good for 5.5/Percona ?

[mysqld_safe]

# Set NUMA interleave
numa_interleave = 1         # Set NUMA to interleave all when starting

[mysqld]

###### General Configuration ######

user =                          mysql       # User to run as
pid_file =                      mysql.pid   # Set PID file, otherwise uses hostname
skip_symbolic_links                         # Don't follow sym links for security - turn on later if adding disks/partitions
sysdate_is_now                              # Make sysdate behave like now() and be the same for replication
character_set_server =          utf8        # Set default server character set
collation_server =              utf8_unicode_ci      # Set default server collation
default_storage_engine =        INNODB
#default-tmp-storage-engine =   INNODB      # Not sure if should be Innodb; Percona not clear, worry about transaction/log overhead
event_scheduler =               DISABLED    # Default is off.  Set Disabled so cannot be started at run-time
core_file                                   # Dump core if crashes, Default is TRUE

datadir = {{ mysql_datadir }}     # Set data directory to ./data so we don't have lost+found in main dir


#debug =                # Debug options, blank by default

###### Connections & Networking ######

bind_address =          {{ mysql_bind_ip_address }}   # Listen IP Address, usually 0.0.0.0 or 127.0.0.1 - only ONE address can be used !

port =                  {{ mysql_listening_port }}        # Listen port


back_log =              4096        # Default = 50, Percona says thousands okay
max_connections =       2048        # Default = 100, Small = 1024, Med = 8192, Large = 4096; larger okay to 10K
max_connect_errors =    1000000     # Default = 10, Percona says use large to avoid block, recommends 1,000,000
skip_name_resolve                   # Skip DNS name lookup or else will have problems if DNS is down
max_allowed_packet =    16M         # Enlarged dynamically, per connection. Max blob and backup size. See net_buffer-length

#skip_networking                    # Set skip-networking to disable networking, but if you want to lock out users,
                                    # you also have to rename local unix socket

socket = /var/lib/mysql/mysql.sock  # Local socket - Default is mysql dir, may not be readable by user
                                    # Rename to lock out users, such as mysql.lockout.sock

### Security Items ###

old_passwords =     0       # Don't allow old passwords
safe_user_create            # Don't allow user creation via GRANT. This means users have to be directly created
local_infile =      0       # Don't allow LOAD DATA LOCAL for security reasons
# secure_file_priv = path   # Limits LOAD_FILE() function and the LOAD DATA and SELECT ... INTO OUTFILE

### Other General Items ###

sql_mode = "STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY"
                    # Set the SQL mode, No spaces allowed between options
                    # Note Wordpress needs to remove 1-2 of these

tmpdir =                 {{ mysql_tmpdir }}    # Note this directory must exist and should be owned by mysql user

explicit_defaults_for_timestamp=    true

table_open_cache =                  4096    # Percona recommends 4096
table_open_cache_instances =        16      # Percona recommends, if have heavy table cache contention
table_definition_cache =            4096    # Should be # of tables + 10%, up to 50K
binlog_cache_size =                 64K     # This buffer is allocated PER CONNECTION on first update statement in transaction
sort_buffer_size =                  256K    # Lowered in 5.6 for better performance, watch sort_merge_passes
join_buffer_size =                  16M     # Percona recommends 16M
thread_cache_size =                 100     # Raised from 32 as low overhead
query_cache_type =                  1       # Turn off unless really useful
query_cache_size =                  128M    # Can also turn off as too much contention at load, check if useful
query_cache_limit =                 2M      # Per query limit
thread_stack =                      192K
net_buffer_length =                 16K     # Network buffer allocated for each new thread - PER THREAD
transaction_isolation =             READ-COMMITTED  # NC, NEVER change this without approval
                                        # Was REPEATABLE-READ but causes too many locks for too long
                                        # READ-COMMITTED needs MIXED/ROW replication
innodb_autoinc_lock_mode =          1       # Using default conservative 1 for now, but can also use 2=interleave mode if MIXED/ROW replication
max_heap_table_size =               32M     # Maximum allowed size for a single HEAP (in memory) & TEMP table. Using Percona 32M.
tmp_table_size =                    32M     # Should match max_heap_table_size, above
open-files-limit =                  65535   # 65K is good default

performance_schema                      # Turn on (on by default)
performance_schema_events_stages_history_long_size = 10000
performance_schema_instrument = 'wait/synch/conned/%=counted'
performance_schema_consumer_events_waits_history = on

query_cache_strip_comments =    On  # Make qcache hit more, ignores any comments, Percona feature
expand_fast_index_creation =    On  # Percona optimization on indexing, uses /tmp space
userstat =                      On  # Start Percona stats


###### Logging Section ######

log_error =                 error.log   # Main error log, FLUSH LOGS may rename (not clear)
                                        # From 5.1.21 and later, can add a syslog tag
slow_query_log                          # Turn on
slow_query_log_file =       slow.log
long_query_time =           1.0         # Can use decimals like 0.25, in Percona 0 means log ALL queries
log_slow_verbosity =        Full        # Many options, full for all; see docs

### REMOVED ### log_slow_admin_statements               # Log slow admin cmds, e.g. OPTIMIZE TABLE, ANALYZE TABLE, to slow query log
### REMOVED ### log_slow_slave_statements = Off         # Usually don't want so we have only real queries

#min_examined_row_limit =   0           # Queries which examine fewer than number not logged, useful for perf check

#log_slow_filter =                      # Can turn on dynamically
#log_slow_rate_type =       Session     # Can capture a whole session
#log_slow_rate_limit =      0           # Allows sampling of session/queries, every # is logged

log_queries_not_using_indexes = FALSE   # Note this can create large logs if there are logs of no-index queries
log_output = FILE                       # For several of the logs, including general & slow ?

###### BinLog, Index & Replication Options ######

sync_binlog = {{ mysql_sync_binlog }}     # Set to 1 on fast disks, 100 on slow disks

server_id = {{ mysql_server_id }}         # Always update in master/slave system


log_bin =                   mysql-bin
binlog_format =             MIXED           # Changed to MIXED for 5.6
max_binlog_size =           256M
expire_logs_days =          7
log_bin_index =             mysql-bin.index # Set binlog index file name - otherwise will us host name
master_info_file =          master.info     # Set master.info file name - otherwise will us host name
relay_log_info_file =       relay-log.info  # Set Relay Log Info file name - otherwise will us host name
relay_log =                 relay-bin       # Set Relay Log name in config - otherwise will us host name
relay_log_index =           relay-bin.index # Set Relay Log Index file name - otherwise will us host name
max_relay_log_size =        0               # If 0, max_binlog_size applies to relay logs as well
log_slave_updates                           # Log updates from master, should be on if slave can be master

binlog_row_image =          minimal         # New in 5.6 - Minimize bin log in MIXED/Row format, only send changed columns
                                            # Use 'full' if this server has any 5.1/5.5 slaves

sync_master_info =          1               # fsync() master info - turn off on slow disks or no battery RAID
sync_relay_log =            1               # fsync() relay logs - turn off on slow disks or no battery RAID
sync_relay_log_info =       1               # fsync() relay log info - turn off on slow disks or no battery RAID

binlog_checksum =           CRC32           # Add checksums to binlogs (default is CRC32 in >=5.6.6)
master_verify_checksum =    1               # Master always check bin log checksum when reading
slave_sql_verify_checksum = 1               # Slave verifies Relay log SQL when reading

slave_parallel_workers =    0               # Per-DB threads on slave; 0 disables for safety, can be more


# Turn on these three for 100% InnoDB only
#relay-log-info-repository =    TABLE   # Only for 100% Innodb, set relay log SQL thread position in table
#master-info-repository =       TABLE   # Set master info in table, but only updated sync_master_info #
#relay_log_recovery =           ON      # Recover master info IO thread from relay position table, 100% Innodb Only


###### SLAVE SECTION ######

# RAW_START
# RAW {% if mysql_read_only == 'No' %}
# RAW #read_only                                  # Turn off for master or if have to write
# RAW {% else %}
# RAW read_only                                  # Turn off for master or if have to write
# RAW {% endif %}
#read_only                                  # Turn off for master or if have to write
# RAW_END

report_host =           set_to_hostname     # Set to the real hostname of slave
#slave_compressed_protocol                  # Use if slave over Internet, not LAN

skip_slave_start                            # Always skip auto start
slave_exec_mode =       STRICT              # STRICT Errors on duplicate keys, etc.
slave_net_timeout =     60                  # Percona says set 1min or less

###### MyISAM Section ######

key_buffer_size =           {{ mysql_key_buffer_size }}             # For indexes, never more than 30% RAM, min 8M


delay_key_write =           Off     # Must set off due to corruption issues; default on
read_buffer_size =          256K
read_rnd_buffer_size =      16M     # Raised from 1M to 16M via Percona recommendation

bulk_insert_buffer_size =   {{ mysql_bulk_insert_buffer_size }}             # Set to match key buffer; don't set larger than key buffer


myisam_sort_buffer_size =   8M
myisam_max_sort_file_size = 1G      # Large for recovery perf, watch space available on small disks, set 1G
myisam_repair_threads =     1       # Set about # of cores
#low_priority_updates               # Only used on slaves for high peformance, only if using MyISAM
myisam_use_mmap =           0
concurrent_insert =         2       # Percona recommended if lots of inserts/deletes with holes

###### INNODB Section ######
innodb_buffer_pool_size =           {{ mysql_innodb_buffer_pool_size }}        # Main buffer, set to 60-80% of RAM (but always leave 512M free)
innodb_flush_log_at_timeout =       1       # How often the log is flushed if trx_commit is 2 (timed flush), raise for performance

innodb_flush_log_at_trx_commit =    2       # 1 for battery cache RAID, 2 for slow disks/RAID

innodb_data_file_path= ibdata1:500M:autoextend     # Default ibdata1:10M:autoextend; match existing files
innodb_thread_concurrency =         8       # Generally 2xCores or less + # of disks, 8-10 for 4 core system
innodb_doublewrite =                1       # Always on for physical disks, probably can turn off for SSD

#innodb_data_home_dir =             <directory>/    # Must have final / as this must be a directory, Default is ./
innodb_file_per_table =             1       # Don't use O_DIRECT if NOT file_per_table on ext3
### DEPRECATED ### innodb_file_format =                "Barracuda"     # Set for new options like Compression, only new tables
innodb_undo_tablespaces =           0       # Separate undo space in 5.6, but must do before DB create
#innodb_undo_logs =                 8       # Percona recommended starting point at 8, default is 128 (max); off for now
innodb_status_file =                On      # Write INNODB STATUS file in data dir
### REMOVED ### innodb_additional_mem_pool_size =   8M
innodb_force_recovery =             0
innodb_fast_shutdown =              0       # We may change to On later if okay, but log resize issues
innodb_log_buffer_size =            16M     # Up to 128M if have RAM, see innodb_os_log_written for 1 sec
innodb_rollback_on_timeout =        On      # Seems better to have this on and roll whole transaction back
innodb_sync_array_size =            16      # Helps contention when there are hundreds of waiting threads, Percona recommended
innodb_strict_mode                          # Make Innodb strict for bad SQL, mostly in table/index creation

innodb_log_file_size =              128M    # Must match actual size; Use 1 hour of innodb_os_log_written
innodb_log_files_in_group =         2       # 2 is standard/default

innodb_max_dirty_pages_pct =        90
innodb_flush_method =               ALL_O_DIRECT    # Don't use ALL/O_DIRECT if not file_per_table on ext3; use O_DIRECT on non-Percona
innodb_lock_wait_timeout =          50
### DEPRECATED ### innodb_support_xa =                 On      # To make sure binlog & innodb log are in sync
innodb_open_files =                 4096    # Set to hold all tables at once

innodb_stats_on_metadata =          0       # Turn off, so PHPMyAdmin, etc. don't do this via SHOW INDEXES, etc.
innodb =                            FORCE   # Don't start without it (or if it errors)
innodb_buffer_pool_instances =      8       # Percona recommends 8, only used if buffer > 1GB
innodb_old_blocks_time =            1000    # Percona helps with LRU management
innodb_read_io_threads =            4       # Default 4, Percona says okay
innodb_write_io_threads =           4       # Default 4, Percona says okay
innodb_flush_neighbors =            2       # Percona recommends 0 for SSD, otherwise 1 or 2 (2 is more aggressive)
innodb_adaptive_flushing =          1       # Default is on for Percona, off for Innodb

innodb_corrupt_table_action =       Warn    # Don't crash on corrupt table, just warn
innodb_buffer_pool_dump_at_shutdown = 1     # Store pool list at shutdown for fast startup
innodb_buffer_pool_load_at_startup = On     # Dump every 1 min, load on start (which can be slow)

innodb_io_capacity =                1000    # Background I/O. Use>200 if caching RAID (how high?).  Default 200; use 100 for SATA/no-battery
innodb_io_capacity_max =            2000    # New, Percona says 6000 but PERC RAID only seems good for about 2000 IOPS max

# New for 5.6
innodb_lru_scan_depth =             2000    # Percona recommended for flushing (Default is 1024); higher with more I/O capacity
innodb_checksum_algorithm =         crc32   # New in 5.6 for much faster checksums on pages
innodb_monitor_enable =             '%'     #
innodb_adaptive_hash_index_partitions = 65  # Percona recommend for contention


##########  End of DB Server Config ##########

#################################################
#################################################
### Other clients, mysqlq, dump, etc. section ###
#################################################
#################################################

[mysqldump]
quick
max_allowed_packet =        16M

[myisamchk]
key_buffer_size =           256M
sort_buffer_size =          256M
read_buffer =               2M
write_buffer =              2M

# Should only use client section on server if will connect using MySQL's Linux user
[client]

# Never set PW here unless needed for scripts and only if file is carefully protected - better to use /home/user/my.conf
# Use password keyword here to force prompt of password

password
port =      {{ mysql_listening_port }}


socket =    /var/lib/mysql/mysql.sock
