[mysqldump]

user={{ item.user | default('ncbackupdb') }}
password={{ item.pass | default(mysql_ncbackupdb_pass) }}
host=localhost
socket=/var/lib/mysql/mysql.sock

[mysql]
user={{ item.user | default('ncbackupdb') }}
password={{ item.pass | default(mysql_ncbackupdb_pass) }}
host=localhost
socket=/var/lib/mysql/mysql.sock
