<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="col-lg-12">
            <br>
            <!-- <button class="btn btn-default btn-lg btn-block"></button> -->
    </div>
    <!--  left bottom -->
    <div class="col-lg-6">
        <div class="">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right">服务器名</td>
                                <td>{{ info.sname }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">登陆 IP</td>
                                <td>{{ info.sip }}</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td class="text-right">数据盘</td>
                                <td>{{ info.sdisk }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">LVM状态</td>
                                <td>{{ info.slvm }}</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td class="text-right">备份目地</td>
                                <td>{{ info.sbackup_dest }}</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td class="text-right">备份目录</td>
                                <td>{{ info.sbackup_dirs }}</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td class="text-right">安装服务</td>
                                <td>{{ info.sservices }}</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td class="text-right">监控Proxy</td>
                                <td>{{ info.szabbix_proxy }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  Right bottom -->
    <div class="col-lg-6">
        <div class="">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right">CPU 个数</td>
                                <td>{{ info.scpu }}</td>
                            </tr>
                            <tr>
                                <td></td>

                                <td class="text-right">内存 Memory(M)</td>
                                <td>{{ info.smem }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">内网 IP</td>
                                <td>{{ info.spri_ip }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">系统盘</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>