<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="col-lg-12">
            <br>
            <!-- <button class="btn btn-default btn-lg btn-block"></button> -->
    </div>
    <!--  left bottom -->
    <div class="col-lg-6">
        <div class="">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right">服务器名</td>
                                <td>{{ info.sname }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">内网 IP</td>
                                <td>{{ info.sip }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">实例 CPU</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">实例内存</td>
                                <td>16G</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">根设备</td>
                                <td>/dev/xvda</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">数据盘</td>
                                <td>/dev/sdb</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">LVM状态</td>
                                <td>否</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  Right bottom -->
    <div class="col-lg-6">
        <div class="">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right">操作系统</td>
                                <td>CentOS 6.9</td>
                            </tr>
                            <tr>
                                <td></td>

                                <td class="text-right">公有 IP</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">映射 IP</td>
                                <td>10.1.124.100</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td class="text-right">平台</td>
                                <td>AWS</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">拥有者</td>
                                <td>ChinaNetCloud</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">安装软件</td>
                                <td>Nginx-1.6, Mysql-5.7, Java-1.7, Tomcat-8.0, PHP-5.6</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">启动时间</td>
                                <td>2016年3月15日 UTC+8上午11:14:45 (12821 小时)</td>
                            </tr>

                            <tr>
                                <td></td>
                                <td class="text-right">状态转换原因消息</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>