<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
     <div class="col-lg-12">
            <br>
         <h4 class="page-header"></h4>
     </div>

    <div class="col-lg-6 col-md-offset-3">
        <div class="">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right">root</td>
                                <td>{{ pw.root }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">ncadmin</td>
                                <td>{{ pw.ncadmin }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">GPG_KEY</td>
                                <td>{{ pw.gpg_key }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">mysql-ncdba</td>
                                <td>{{ pw.ncdba }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">mysql-root</td>
                                <td>{{ pw.nccheckdb }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">mysql-ncbackupdb</td>
                                <td>{{ pw.ncbackupdb }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">Comment</td>
                                <td>-</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>