###########################################
# MASTER CONFIGURATION
###########################################
# Define working environment
# hostname is used both for archive naming and remote storage folder
# HOSTNAME=`hostname`
HOSTNAME="$HOSTNAME"
# root location of the master script
HOME_MASTER="/opt/ncscripts/backup"
BACKUP_FOLDER="/opt/backup"
LOCK_FILE=/opt/ncscripts/backup/lock_file

# ENCRYPT configuration section
# define whether the encryption need to be turned ON (YES/NO)
ENABLE_ENCRYPT="YES" 
# Define Encrypt Key File and owner+permission
KEY_FILE="$HOME_MASTER/key/key_file"
KEY_PERMS='-r--------' #400
KEY_OWNER=ncbackup
KEY_GROUP=ncbackup

# Mail report
MAIL_REPORT_ADDRESS=ncbackup_report@chinanetcloud.com


#######################
# Remote storage (SSH, OSS, S3)

STORAGE_METHOD={{ backup_destination }}
BACKUP_ID_RSA="$HOME_MASTER/key/id_rsa"
BACKUP_SERVER=61.129.13.23
SSH_PORT=40024
BACKUP_DIR=/data/backup
SSH_USER=bckuser
#
# via Amazon S3
S3_BUCKET=
S3_FOLDER=$HOSTNAME
S3_CONFIG=/opt/ncscripts/backup/key/.s3cfg



###########################################
# SUB SCRIPTS CONFIGURATION BELOW
###########################################

######################
# FILE BACKUP
#  %script: file_script_backup.sh
######################
# Define extra files / folders to be included in the tar archive

FILE_DATA_INCLUDE="/etc /var/spool/cron /opt/ncscripts  {{ backup_folder1 | default('') }} {{ backup_folder2 | default('') }} {{ backup_folder3 | default('') }} {{ backup_folder4 | default('') }}"
FILE_DATA_EXCLUDE=



######################
# MYSQLDUMP BACKUP
#  %script: mydump_script_backup.sh
######################
# MySQL login / pass / host config file
MYDUMP_MYSQL_CREDS="$HOME_MASTER/key/mysql_backup.creds"

# Define extra files / folders to be included in the tar archive
#MYDUMP_EXTRA_DATA=/etc/my.cnf
MYDUMP_EXTRA_DATA=



# By default, we have a single instance - more can be added
# These are identified by the port number or a name
#
# Note: creds file must have name appended
MYSQL_INSTANCES[0]="default"

# Examples:
#   MYSQL_INSTANCES[0]="default"
#   MYSQL_INSTANCES[1]="db-inst2"
#   MYSQL_INSTANCES[2]="3308"
#
# Creds files:
#   key/mysql_backup.creds
#   key/mysql_backup.creds.db-inst2
#   key/mysql_backup.creds.3308


######################
# MYSQL LVM BACKUP
#  %script: mylvm_script_backup.sh
######################
# MySQL login / pass / host config file
MYLVM_MYSQL_CREDS="$HOME_MASTER/key/mysql_backup.creds"

# Define extra files / folders to be included in the tar archive
#MYLVM_XTRA_DATA=/etc/my.cnf
MYLVM_EXTRA_DATA=

# LVM details
######################
# Volume group holding the MySQL Logical volume
# Logical volume holding the MySQL datadir
# Define the subfolder within the LV where the datadir is - can be '.' or any subfolder 'data'
# Define snapshot size
# Define snapshot mount point
MY_VG=dbdisk_vg1
MY_LV=dbdisk1
MY_LV_DATADIR=data
SNAP_SIZE=5G
SNAP_MOUNT=/mnt/snapshot

# --
# MongoDB backup
# if MONGO_USER is empty, the commands will be run without authentication
MONGO_USER="ncdba"
MONGO_PWD=""
MONGO_HOST="127.0.0.1"

#
#OracleDB backup using rman
# To get these check /home/oracle/.bashrc or other startup scripts usually set there for oracle user.
# The below are examples taken from srv-indegene-cn-oracledb1 but in most cases they will be different for each customer.
# 
#RMAN_BACKUP_DIR=$BACKUP_FOLDER/rman
#export ORACLE_BASE=/orachina/ora11g
#export ORACLE_HOME=$ORACLE_BASE/product/11.2.0/db_1
#export ORACLE_SID=orachina
#export TNS_ADMIN=$ORACLE_HOME/network/admin
#export LD_LIBRARY_PATH=$ORACLE_HOME/lib
#export PATH=$PATH:$ORACLE_HOME/bin
#Set this to whatever the remote backup retention policy is.
#export RETENTION_POLICY_RECOVERY_WINDOW=60
