export TOMCAT_USER=tomcat

export CATALINA_HOME={{ tomcat_catalina_home }}
export JAVA_HOME={{ tomcat_java_home }}
export PATH=$JAVA_HOME/bin:JAVA_HOME/bin:$PATH
export CLASSPATH=.:/usr/local/j2sdk/lib/tools.jar:/usr/local/j2re/lib/rt.jar

JAVA_OPTS="$JAVA_OPTS -XX:-UseGCOverheadLimit -Xms{{ tomcat_heap_size }} -Xmx{{ tomcat_heap_max_size }} -XX:PermSize={{ tomcat_permgen_size }} -XX:MaxNewSize={{ tomcat_newsize_max }} -XX:MaxPermSize={{ tomcat_permgen_max_size }}"
JAVA_OPTS=$JAVA_OPTS" -Dcom.sun.management.jmxremote.port=6789"
JAVA_OPTS=$JAVA_OPTS" -Dcom.sun.management.jmxremote.host=127.0.0.1"

JAVA_OPTS=$JAVA_OPTS" -Dcom.sun.management.jmxremote.ssl=false"
JAVA_OPTS=$JAVA_OPTS" -Dcom.sun.management.jmxremote.authenticate=true"
JAVA_OPTS=$JAVA_OPTS" -Dcom.sun.management.jmxremote.access.file=$CATALINA_HOME/conf/jmxremote.access"
JAVA_OPTS=$JAVA_OPTS" -Dcom.sun.management.jmxremote.password.file=$CATALINA_HOME/conf/jmxremote.passwd"

###################################################
# For shutdown ,we use STOP_OPTS, since a jmx bug
###################################################
STOP_OPTS="$CATALINA_OPTS -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false"

export JAVA_OPTS
export STOP_OPTS
